.cyber-map {
  width: 100%;
  height: 500px;
  border-radius: 18px;
  box-shadow: 0px 0px 40px rgba(0, 150, 255, 0.4);
  overflow: hidden;
  position: relative;
}

/* Popup styling */
.popup-card {
  color: #fff;
  padding: 10px;
  background: rgba(15, 19, 40, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(6px);
}

.badge {
  padding: 3px 8px;
  background: #ff00ff;
  border-radius: 6px;
  font-size: 11px;
}